*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    cursor: url(../img/mata_mosca.png), default;
}

.selecao{
    width: 100vw;
    height: 100vh;
}

.niveis{
    width: 250px;
}

.status{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 15vw;
    height: 10vh;
}

/*Estilo dos mosquitos em exibição*/
.mosquito{
    height: 50px;
    width: 50px;
}

.mosquitoMedio{
    height: 70px;
    width: 70px;
}

.mosquitoGrande{
    height: 90px;
    width: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}